body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
canvas {
    border: 2px solid #000;
    background-image: url(images/craiyon_141358_can_you_create_a_photo_of_a_pixel_drifting_endeless_i_space_around_multiple_galaxies.png);
    background-size: cover;
    background-position: center;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}